#collections {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#collection-sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--box-border-color);
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.collection-list-contents {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    background: var(--box-alt-background-color);
    border-bottom: 1px solid var(--box-border-color);
    padding: 0 var(--spacing);
    height: 29px;
    text-align: center;
    line-height: 29px;
  }

  .collection-list-container {
    overflow-y: auto;

    .collection-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .collection-item {
        width: 100%;
        padding: 5px var(--spacing);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;

        &.selected {
          --text-color: var(--box-selected-active-text-color);
          --text-secondary-color: var(--box-selected-active-text-color);
          color: var(--text-color);
          background-color: var(--box-selected-active-background-color);
        }
      }
    }
  }
}