dist: trusty

sudo: false

addons:
  apt:
    packages:
      - xvfb
      - fakeroot
      - dpkg
      - xz-utils
      - xorriso
      - zsync
      - rpm

branches:
  only:
    - master

language: node_js
node_js:
  - "8.15.0"

cache:
  yarn: true
  timeout: 600
  directories:
    - node_modules
    - $HOME/.electron
    - $HOME/.cache/electron-builder

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.10.1
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --force

script:
  - yarn dist
